BODY {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.orange-text {
    color: #fb9b2b;
}

.red-text {
    color: #df2645;
}

.green-text {
    color: #4eee6e;
}

.number {
    text-align: right;
}

.cont {
    padding: 4px;
}

TABLE {
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 420px;
}

THEAD {
}

TBODY {
    overflow-y: hidden;
}

THEAD TR {
    line-height: 25px;
}

TBODY TR {
    line-height: 18px;
}

THEAD TR TH {
    font-size: 12px;
    background-color: black;
    color: #bbbbbb;
    top: 0px;
    position: sticky;
}

THEAD TR TH:nth-child(1) {
    width: 170px;
}

THEAD TR TH:nth-child(2) {
    width: 50px;
}

THEAD TR TH:nth-child(3) {
    width: 50px;
}

THEAD TR TH:nth-child(4) {
    width: 50px;
}

THEAD TR TH:nth-child(5) {
    width: 50px;
}

THEAD TR TH:nth-child(6) {
    width: 50px;
}

TBODY TR TH,
TBODY TR TD {
    font-weight: normal;
    border: 1px solid #222222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

table tbody th {
    position: sticky;
    left: 0;
    background: black;
    z-index: 1;
    text-align: left;
}
