html, 
body {
    height: 100%;
}

BODY {
    margin: 0;
    background-color: #001c28;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.small-tabs {
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
    overflow: scroll;
}

.table-cont {
    width: 100%;
    height: calc(100% - 38px);
    overflow: scroll; 
    box-sizing: border-box;
    background-color: #002f44;
}
