html, 
body {
    height: 100%;
}

BODY {
    margin: 0;
    background-color: #001c28;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.tabs-cont {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 3px;
    overflow: scroll;
}

.table-cont {
    width: 100%;
    /* This removes the height of the tabs and the margin under the tabs */
    height: calc(100% - 41px);
    box-sizing: border-box;
    overflow: scroll;
    background-color: #002f44;
}
