TABLE.mt {
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 420px;
}

TABLE.mt TBODY {
}

TABLE.mt THEAD TR {
    line-height: 25px;
    font-size: 12px;
    color: white;
}

TABLE.mt TBODY TR {
    line-height: 20px;
}

TABLE.mt TD TH {
    border: none;
}

/* ----- Column Width Setup ----- */

TABLE.mt THEAD TR TH:nth-child(1) {
    width: 170px;
}

/* We make the first column wider on a wider device.  This threshold has been 
   identified as being "larger than a phone in portrait orientation."
*/
@media only screen and (min-width: 600px) {
    TABLE.mt THEAD TR TH:nth-child(1) {
        width: 350px;
    }
}

TABLE.mt THEAD TR TH:nth-child(2) {
    width: 50px;
}

TABLE.mt THEAD TR TH:nth-child(3) {
    width: 50px;
}

TABLE.mt THEAD TR TH:nth-child(4) {
    width: 50px;
}

TABLE.mt THEAD TR TH:nth-child(5) {
    width: 50px; 
}

TABLE.mt THEAD TR TH:nth-child(6) {
    width: 50px;
}

/* ----- Styling needed to acheive the fixed headers ----- 
   (i.e. first row and first column) 
*/
TABLE.mt THEAD TR TH {
    position: sticky;
    top: -1px;
    /* Explicit background color is needed here so that the sticky row is opaque */
    background-color: #002f44;
}

/* This is the very top left cell.  This one is also stick to the left. This cell 
   needs to have the largest z-order so that everything slides under it. */
TABLE.mt THEAD TR TH:first-child {
    left: 0px;
    z-index: 2;
}

TABLE.mt TBODY TD {
    /* Explicit background color is needed here so that the sticky column is opaque */
    background-color: #002f44;
}

/* This is the first column of the body. */
TABLE.mt TBODY TD:first-child {
    position: sticky;
    left: 0px;
    z-index: 1;
}

/* ----- Regular cell styling ----- */

.orange {
    color: #fdbc23;
}

.red {
    color: #df2645;
}

.green {
    color: #4eee6e;
}

TABLE.mt TBODY TD.num {
    text-align: right;
}

TABLE.mt TBODY TD.group-lead {
    text-decoration: underline;
    color: #fdbc23;
}

TABLE.mt TBODY TD {
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

TABLE.mt TBODY TR TD:first-child {
    text-align: left;
    cursor: pointer;
}

TABLE.mt TBODY TR:nth-child(odd) TD {
    background-color: #053852;
}
